Repository pypa/pipenv, pull requests merged in 2020-05, with the labels that each got.

#4243 Mark unit tests requiring network connection
  tests/unit/test_utils.py
Labels: Category: Tests, Priority: Low

#4252 Fix the broken update --outdated handler
  news/4229.bugfix.rst
  pipenv/core.py
Labels: Category: CLI, Type: Release Blocker

#4246 Allow pyenv/asdf to be used even if they are not on PATH
  news/4245.feature.rst
  pipenv/core.py
  pipenv/installers.py
Labels: Category: Development, Type: Enhancement :bulb:

#4267 Make sure to import the vendored attrs
  news/4267.vendor.rst
  pipenv/vendor/passa/models/projects.py
  pipenv/vendor/pythonfinder/models/mixins.py
  pipenv/vendor/pythonfinder/models/path.py
  pipenv/vendor/pythonfinder/models/python.py
  pipenv/vendor/pythonfinder/models/windows.py
  pipenv/vendor/pythonfinder/utils.py
  pipenv/vendor/requirementslib/models/dependencies.py
  pipenv/vendor/requirementslib/models/lockfile.py
  pipenv/vendor/requirementslib/models/markers.py
  pipenv/vendor/requirementslib/models/metadata.py
  pipenv/vendor/requirementslib/models/pipfile.py
  pipenv/vendor/requirementslib/models/project.py
  pipenv/vendor/requirementslib/models/requirements.py
  pipenv/vendor/requirementslib/models/resolvers.py
  pipenv/vendor/requirementslib/models/setup_info.py
  pipenv/vendor/requirementslib/models/url.py
  pipenv/vendor/requirementslib/models/vcs.py
  tasks/vendoring/patches/vendor/update-attrs-import-path.patch
Labels: Type: Release Blocker, Type: Vendored Dependencies

#4280 #4279: Stop test_ssh_vcs_install from failing
  news/4279.trivial.rst
  tests/integration/test_install_uri.py
Labels: Category: Tests, Category: VCS, PR: awaiting-merge

#4284 Fix incorrect environment when inside venv
  news/4276.bugfix.rst
  pipenv/project.py
Labels: Priority: High, Type: Bugfix, Type: Regression

#4275 Don't check against root directory
  news/4273.bugfix.rst
  pipenv/core.py
  pipenv/project.py
Labels: Priority: High, Type: Regression
